<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand page-scroll primary" href="#page-top"><img src="/assets/images/np_header.png" alt="{{ site.title }}"/> </a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li class="hidden">
			<a class="page-scroll" href="#page-top"></a>
		</li>
		<li>
			<a class="page-scroll" href="#products">Products</a>
		</li>
		<li>
			<a class="page-scroll" href="#services">Services</a>
		</li>
		<li>
			<a class="page-scroll" href="#training">Training</a>
		</li>
		<li>
			<a class="page-scroll" href="#contact">Contact Us</a>
		</li>
		<li>
			<a href="/support/">Support</a>
		</li>
		<li>
			<a href="/blog/">Blog</a>
		</li>
	  </ul>
	  <ul class="navbar-nav nav navbar-right">
		<li>
			<div style="margin-top: 15px">
			<a href="https://twitter.com/nwplanet" class="twitter-follow-button" data-show-count="false">Follow @nwplanet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </li>
		<li>
			<div style="margin: 15px 0 0 5px">
				<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
				<script type="IN/FollowCompany" data-id="2359324"></script>
			</div>
		</li>
	  </ul>
	</div>
  </div>
</nav>
