<aside id="social">
	<ul>
		<li><a href="https://twitter.com/intent/tweet?url={{site.url | cgi_escape}}{{page.url | cgi_escape}}&text={{page.title | cgi_escape}}&&via={{site.twitter | remove_first:'@' | cgi_escape}}" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
		<li><a href="https://plus.google.com/share?url={{site.url | cgi_escape}}{{page.url | cgi_escape}}" class="entypo-gplus" target="_blank"><span>Google+</span></a></li>
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url | cgi_escape}}{{page.url | cgi_escape}}&title={{page.title | cgi_escape}}&source={{site.url | cgi_escape}}" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a></li>
	</ul>
</aside>