<section id="about" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center" style="font-size:1.1rem;">
              <p>27 years on the road and stronger than ever, London’s legendary Inner Terrestrials are a stomping mix of dub, punk, ska, folk and general anarchic danceability. They get audiences all over the world going crazy, from Bristol to Berlin, from Warsaw to Tokyo and beyond.</p>
          <p>Formed in South London in February 1994 by Jay (vocals & guitars, whistle) and Fran (bass & vocals). They teamed up with drummer Paco of Conflict in 1996 who originally came in to lay drums on their self released debut album IT! which continues to be a best seller with underground distributors throughout Europe, Japan and the USA.</p>
          <p>A live album Escape From New Cross was issued in 1997 (maloka records), Enter The Dragon EP in 1999 (maloka records), and Barry Horne single in 2002. Clash cover single Guns Of Brixton 2003 (jungle records), studio album: X in February 2004 (mass prod/maloka), CD and double LP Tales Of Terror in 2012 (mass/maloka/ruin-nation).</p>
          <p>In May 2014 founding members Jay and Fran were joined by Ben "The Boy Wonder" on the drums.</p>
        </div>
      </div>   
    </section>