    <section id="about" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center" style="font-size:1.1rem; font-weight: bold;">
              <p>28 years on the road and stronger than ever, London's Inner Terrestrials are a stomping and eclectic mix of dub, punk, ska, folk and diverse styles. They have a strong following all over the world, their crowd come to dance from Bristol to Berlin, from Warsaw to Tokyo and beyond.</p>
              <p>Formed in South London in February 1994 by Jay (vox, guitars, whistle) and Fran (Bass, vox). They teamed up with drummer Paco of Conflict in 1996 who originally came in to lay drums on their self released debut album IT! which continues to be a best seller with underground distributors throughout Europe, Japan and the USA.</p>
              <p>A live album Escape From New Cross was issued in 1997 (maloka records), Enter The Dragon EP in 1999 (maloka records), and Barry Horne single in 2002. Clash cover single Guns Of Brixton 2003 (jungle records), studio album: X in February 2004 (mass prod/maloka), CD and double LP Tales Of Terror in 2012 (mass/maloka/ruin-nation).</p>
              <p>In May 2014 founding members Jay and Fran were joined by Ben Swan on the drums, touring and gigging until the recording of the bands fourth studio album, Heart Of The Free 2021 ( Maloka, Mass Prod, PDV, Warrior Charge, Fire And Flames, Blind Destruction).</p>
              <p>The Plague Tapes, a live recording made at Overdrive Studio, Deptford, is due for release in 2022. Meanwhile the band are currently working on material for their fifth studio album, stepping up their gigging and touring schedule and pushing forward</p>
        </div>
      </div>   
    </section>
