<header>
	<!-- Navigation. URL = {{page.url}} -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-blk fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{site.url}}/"><img src="{{site.url}}/assets/images/it_squat.png" alt="iT!" title="Inner Terrestrials Homepage" class="navbar-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu 
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% for item in site.data.navigation %}
              <li class="nav-item {% if page.url == item.link %}active{% endif %}">
                <a href="{{site.url}}{{ item.link }}" class="nav-link">
                  {{ item.name }}
                  {% if page.url == item.link %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
</nav>
</header>