<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ site.url }}/assets/images/itfav.jpg">
  <link rel="apple-touch-icon" href="{{ site.url }}/assets/images/itfav.jpg">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ site.url }}/assets/css/creative.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/site.css">

  {%- feed_meta -%}

  <title>{{ site.title }}
    {%- if page.title -%}
    &nbsp;&mdash; {{page.title}}
    {%- endif -%}
  </title>

  <meta property="og:url"                content="{{site.url}}{{page.url}}" /> 
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="{{ site.title }}{%- if page.title -%}&nbsp;&mdash; {{page.title}}{%- endif -%}" />
  <meta property="og:description"        content="{{page.description}}" />
  <meta property="og:image"              content="{{site.url}}/assets/images/mastheads/new_morning_paris_theokoppen.jpg" />
</head>
