---
layout: default
---
<div class="post">

	<div class="spacer-top"></div>
	{% include breadcrumb.html %}
	
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
	{% if page.image %}
	<img src="{{ page.image }}" class="img-rounded pull-left header-image" alt="{{ page.imagealt }}" />
	{% endif %}
    {{ content }}
  </article>

  <div class="row spacer2">&nbsp;</div>
  
  {% include socialshare.html %}
  
  <div class="row spacer2">&nbsp;</div>
  
  <hr/>
  <nav>
    <p>Filed under: {% for tag in page.tags | sort %} <a href="{{site.tag_dir}}/{{ tag | slugify }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
    <p class="clearfix">
        {% if page.previous %}
            <span class="pull-left">
                <a class="btn btn-primary" href="{{ page.previous.url }}" role="previous">&lt;&lt; {{page.previous.title}}</a>
            </span>
        {% endif %}
        {% if page.next %}
        <span class="pull-right">
            <a class="btn btn-primary" href="{{page.next.url}}" role="next">{{page.next.title}} &gt;&gt;</a>
        </span>
        {% endif %}
    </p>
  </nav>
  <hr/>
  {% if page.comments %}
  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'networkedplanet';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>
<div class="spacer2">&nbsp;</div>
