<!DOCTYPE html>
<html class="scrollnav">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="scrollnav">

    {% include scrollnav-header.html %}

        {{ content }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Bootstrap plugins -->
<script src="{{ '/assets/javascripts/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/scrolling-nav.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/jquery.easing.min.js' | prepend: site.baseurl }}"></script>

<!-- CookieCuttr script -->
<script src="{{ '/assets/javascripts/js.cookie-1.5.1.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/javascripts/jquery.cookiecuttr.js' | prepend: site.baseurl }}"></script>
<script>
    $(document).ready(function() {
        $.cookieCuttr({cookieDeclineButton: true});
    });
	$(window).on('activate.bs.scrollspy', function(e){
		var matchLink = $("a[href^='#']", e.target);
		if (matchLink.length) {
			history.replaceState({}, "", matchLink.attr("href"));
		}
	});
    
    if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
        // do nothing
    } else {
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		 ga('create', 'UA-770913-1', 'auto', { 'allowLinker': true });
		ga('require', 'linker');
		ga('linker:autoLink', ['levelup.networkedplanet.com', 'testing.networkedplanet.com', 'support.networkedplanet.com']);
		ga('send', 'pageview');
		
    }
</script>


    </body>

</html>
